*{
  margin:0;
  box-sizing: border-box;
  
}

body{
  max-width: 40%;
  margin: auto;
  font-family: Poppins;
  background-color: rgb(15, 32, 32);
}

@media  screen and (max-width:720px) {

  body{
    max-width: 95%;
    margin: auto;
  }
  
}